body {
  width: 400px;
  font-family: arial;
  overflow-x: hidden;
}
#button {
  display: inline;
  text-align: center;
  width: 30%;
}
#result {
  border-style: solid;
  border-color: orange;
  border-width: thin;
  margin-top: 10px;
  padding: 10px;
  width: 92%;
}
#scripture {
  padding: 0;
  margin: 0;
}
#error {
  display: none;
  color: white;
  background-color: red;
  padding: 5px;
}
#reference {
  font-size: 110%;
  margin-bottom: 10px; !important
}
#translation {
  width: 96%;
  border-color: #d8d8d8;
  background-color: #efefef;
  border-style: solid;
  border-width: thin;
  padding: 5px 10px;
  border-radius: 5px;
}
#button {
  border-radius: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #efefef;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
}
#button:hover {
  background-color: #d8d8d8;
  cursor: default;
}
#button:active {
  background-color: orange;
  border-color: orange;
}
#search {
  border-radius: 3px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 7px;
  padding-right: 2px;
  padding-left: 4px;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
  font-size: 12px;
  width: 60%;
  display: inline;
}
#search:focus {
  border-color: orange;
}
.margin-top {
  margin-top: 10px;
}
